@import "../../../../theme/styles";

@include themify() {

  .networks-container {
    display: flex;
    flex-direction: column;
    align-items: end;

    max-height: 84vh;
    overflow-y: scroll;
    padding: 2rem 1rem 2rem 1rem;

    background-color: themed(surface);
    color: themed(on-surface);

    .net-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;


      height: min-content;
      width: 100%;
      margin: 0.4rem 0;
      border-bottom: 1px solid themed(shadow);

      .net {
        display: flex;
        flex-direction: column;

        width: 100%;

        * {
          flex: 1;
        }
      }
    }
  }
}
