<div class="input-group">

  <div class="input-container"
       [ngClass]="{
          'input-container--error': hasError,
          'input-container--success': isSuccess && showSuccess,
          'input-container--disabled': disabled,
          'input-container--filled': filled,
          'input-container--outlined': outlined,
          'input-container--focused': isFocused
       }">

  <span *ngIf="leadingIcon != ''"
        class="material-icons leading-icon"
        [ngClass]="{
           'leading-icon--disabled': disabled,
        }">{{ leadingIcon }}</span>

    <label [for]="fieldName"
           class="input-label"
           [ngClass]="{
              'input-label--error': hasError,
              'input-label--success': isSuccess && showSuccess,
              'input-label--disabled': disabled,
              'input-label--focused': isFocused,
              'input-label--floating': isFocused || (value !== ''),
              'input-label--required': required,
              'input-label--leading-icon': leadingIcon != ''
           }">
      {{ label }}
    </label>

    <input [id]="fieldName"
           [name]="fieldName"
           class="input"
           [ngClass]="{
              'input--leading-icon': leadingIcon != ''
            }"
           [type]="type"
           [pattern]="pattern"
           [required]="required"
           [placeholder]="(isFocused && value === '') ? placeholder : ''"
           [(ngModel)]="value"
           [disabled]="disabled || readonly"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)"
           (ngModelChange)="onChange($event)"/>

    <span *ngIf="(type==='password') && !showPassword"
          class="material-icons trailing-icon"
          [ngClass]="{
             'trailing-icon--disabled': disabled,
          }"
          (click)="!disabled && togglePassword(true)">visibility</span>
    <span *ngIf="(type==='password') && showPassword"
          class="material-icons trailing-icon"
          [ngClass]="{
             'trailing-icon--disabled': disabled,
          }"
          (click)="!disabled && togglePassword(false)">visibility_off</span>

    <span *ngIf="clear"
          class="material-icons trailing-icon"
          [ngClass]="{
             'trailing-icon--disabled': disabled,
          }"
          (click)="!disabled && clearInput()">clear</span>
  </div>

  <div class="input-error">
    <span *ngIf="hasError">{{ errorMessage }}</span>
  </div>
</div>
