@import "../../../../theme/styles";

@include themify() {

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 0.4rem;

    max-height: 84vh;
    overflow-y: scroll;
    padding: 2rem 1rem 2rem 1rem;

    background-color: themed(surface);
    color: themed(on-surface);

    .calculus {
      width: 100%;
      overflow: scroll;

      .network {
        border-bottom: 1px solid themed(on-surface);
        margin-bottom: 2rem;
      }
    }
  }
}
